<div class="pink-dark-bg">
    <footer class="container py-5" style="color: #C8C6C6" data-aos="fade-up">
        <div class="row">
            <div class="col-6 col-md">
                <img src="{{ url_for('static', filename='assets/img/location-lg.jpeg') }}" width="50"
                     height="50"/>
                <p style="color: #C8C6C6 font-size: 0.9rem;">Shop WA 06, De Gallery Plaza, opposite Akano Plaza
                    Abacha road Mararaba, Nasarawa State</p>
            </div>
            <div class="col-6 col-md">
                <h5 class="fst-italic" style="color: #C8C6C6;">Contact Us</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none" style="font-size: 1rem;"
                           href="https://gmail.com">tunezscentmart@gmail.com</a>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='assets/img/whatsapp-lg.PNG') }}" width="30"
                             height="30"/>
                        <a class="link-secondary text-decoration-none" style="font-size: 1rem;"
                           href="https://wa.me/2349050472421">Whatsapp</a>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='assets/img/instagram.PNG') }}" width="30"
                             height="30"/>
                        <a class="link-secondary text-decoration-none" style="font-size: 1rem;"
                           href="https://instagram.com/tunezscentmart_">Instagram</a>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='assets/img/tiktok.PNG') }}" width="30"
                             height="30"/>
                        <a class="link-secondary text-decoration-none" style="font-size: 1rem;"
                           href="https://tiktok.com/@Tunezscentmart">Tiktok</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="fst-italic">About</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Team</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Locations</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Privacy</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="text-center" style="color: #9D9D9D">
        <img src="{{ url_for('static', filename='assets/img/copyright-tp.PNG') }}" width="30"
             height="30"/>2026 | Website designed by Raji Abdulkadir - rajiabdulkadir15@gmail.com
    </div>
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        class="astro-vvvwv3sm"></script>